body{
    font-family: "Spline Sans", "Sans- Serif";
    background-color: #EBFEFF;
    height: 100vh;
}

h3{
    color: #4a6fa1;
}

nav{
    background-color: #EBFEFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 76px;
    padding: 20px 40px;
    width: 100%;
    position: fixed;
    border-bottom: 1px solid black;

    .Menu{
        display: flex;
        color: black;
        list-style: none;
        gap: 32px;
    }
    
    a{
        color: black;
        font: 20px;
        text-decoration: none;
    }
    
    .Logo{
        width: 60px;
        height: 45px;
    }
}

.col-1 {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
    gap: 40px;

    .stats {
        display: flex;
        gap: 40px;
    }
}

.col-2 {
    flex: 1;

    display: flex;
    flex-direction: column;

    img {
        width: 100%;
        transform: translateY(2px);
        z-index: 0;

    }
}

.content {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.story {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    padding: 80px 0px;
    gap: 40px;
}

.nword {
    background: #4a6fa1;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nword:hover {
    background: #3b5c89;
}